In [2]:
import pandas as pd
import numpy as np

## Alle Daten

In [3]:
#data = pd.read_excel("karneval-kalorien_bereinigt_mit_Hersteller.xlsx")

# Ausgewählte Daten inkl. fotos

In [4]:
data = pd.read_excel("Data.xlsx")

In [5]:
data.head()

,Supermarkt,Hersteller,Name,davon Zucker in g,Fett in g,Kalorien in kcal,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Aldi,Ludwig Schokolade GmbH und Co. KG,Race,56.8,19.7,467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aldi,Ludwig Schokolade GmbH und Co. KG,Choco Bits,64.2,16.3,452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.3
2,Aldi,Ludwig Schokolade GmbH und Co. KG,Coconut Bits,48.1,24.7,481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aldi,Ludwig Schokolade GmbH und Co. KG,GET'IT,44.0,23.0,484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aldi,Ludwig Schokolade GmbH und Co. KG,Crispy Bits,51.0,24.0,485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#data = data[['Name','Hersteller', 'Kalorien in kcal']]

In [7]:
#data = data.reindex(data.index.rename(['Platzierung']))

In [8]:
#data.index = data['Name']

In [9]:
#data.drop(columns=data['data'], axis=1)

## Name/Rename Index

In [10]:
#data.index.name = 'Index'

In [11]:
#data.set_index(data['Name'])

## Get Length of Pandas Rows

In [12]:
len(data.index)

37

## Add Foto-Columns

In [13]:
#data['Fotos'] = "" #np.arange(len(data.index))

In [14]:
data.head()

,Supermarkt,Hersteller,Name,davon Zucker in g,Fett in g,Kalorien in kcal,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Aldi,Ludwig Schokolade GmbH und Co. KG,Race,56.8,19.7,467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aldi,Ludwig Schokolade GmbH und Co. KG,Choco Bits,64.2,16.3,452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.3
2,Aldi,Ludwig Schokolade GmbH und Co. KG,Coconut Bits,48.1,24.7,481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aldi,Ludwig Schokolade GmbH und Co. KG,GET'IT,44.0,23.0,484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aldi,Ludwig Schokolade GmbH und Co. KG,Crispy Bits,51.0,24.0,485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Add Fotos

In [81]:
#data['Fotos'] = data.Fotos.apply(lambda x: "https://bilder.ams3.cdn.digitaloceanspaces.com/Aldi_SelectionMini_Chrispy-Bits__DSC1486.jpg")
#data.at[0, 'Fotos'] = "https://bilder.ams3.cdn.digitaloceanspaces.com/Aldi_SelectionMini_Chrispy-Bits__DSC1486.jpg"
#data.at[1, 'Fotos'] = "https://bilder.ams3.cdn.digitaloceanspaces.com/LIDL_MC_Choco_Caramel_DSC1480.jpg"
#data.at[2, 'Fotos'] = "https://bilder.ams3.cdn.digitaloceanspaces.com/Aldi_Peanut-Bits_DSC1491.jpg"

In [101]:
data.loc['Fotos'] = np.nan

/Users/mstauber/Data/Anaconda/anaconda/envs/data/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

## Change https to http

In [102]:
#data['Foto'] = data.Foto.apply(lambda x: x.replace("https", "http"))

## Result

In [15]:
data.head()

,Supermarkt,Hersteller,Name,davon Zucker in g,Fett in g,Kalorien in kcal,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Aldi,Ludwig Schokolade GmbH und Co. KG,Race,56.8,19.7,467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aldi,Ludwig Schokolade GmbH und Co. KG,Choco Bits,64.2,16.3,452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.3
2,Aldi,Ludwig Schokolade GmbH und Co. KG,Coconut Bits,48.1,24.7,481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aldi,Ludwig Schokolade GmbH und Co. KG,GET'IT,44.0,23.0,484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aldi,Ludwig Schokolade GmbH und Co. KG,Crispy Bits,51.0,24.0,485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Rearrange Columns

In [18]:
data = data[['Name','Hersteller','Kalorien in kcal', 'Fett in g']]

In [19]:
data

,Name,Hersteller,Kalorien in kcal,Fett in g
0,Race,Ludwig Schokolade GmbH und Co. KG,467,19.7
1,Choco Bits,Ludwig Schokolade GmbH und Co. KG,452,16.3
2,Coconut Bits,Ludwig Schokolade GmbH und Co. KG,481,24.7
3,GET'IT,Ludwig Schokolade GmbH und Co. KG,484,23.0
4,Crispy Bits,Ludwig Schokolade GmbH und Co. KG,485,24.0
5,Hazelnut Bits,Ludwig Schokolade GmbH und Co. KG,486,25.0
6,Peanut Bits,Ludwig Schokolade GmbH und Co. KG,499,27.9
7,Choco & Caramel,Mister Choc,459,20.0
8,Peanut & Choco,Mister Choc,500,28.0
9,Smooth Caramel Bites,Choco Fun,450,19.0
10,Caramel Choco,Choco Bella,484,23.0
11,Caramel & Biscuts Bites,Choco Fun,498,25.0
12,Peanuts & Caramel Bites,Choco Fun,498,27.0
13,Peanut Choco,Choco Bella,500,28.0
14,Creamy,Ludwig Schokolade GmbH und Co. KG,459,20.0
15,Peanuts MINIS,Natra Chocolate International S.L.,504,28.0
16,SIMBA minis,Natra Chocolate International S.L.,512,25.0
17,Crack 'n' Snack,HG GmbH,530,29.0
18,Mars,Mars GmbH,449,16.6
19,MILKYWAY,MARS GmbH,451,17.0
20,Snickers,Mars GmbH,481,23.0
21,Lion White,Nestlé,485,22.3
22,Bounty,Mars GmbH,487,26.0
23,Twix,Mars GmbH,492,24.0
24,Nuts,Nestlé,492,24.7
25,nutella B-ready,Ferrero,521,27.0
26,KitKat Einzelriegel Classic 4-Finger-Riegel,Nestlé,521,27.6
27,Knoppers NussRiegel,Storck,535,31.8
28,Daim Riegel,Mondelez,536,31.0
29,Hanuta,Ferrero,542,31.9
30,Milka und Oreo,Mondelez,548,33.0
31,Knoppers,Storck,551,33.2
32,Douplo,Ferrero,555,33.5
33,Kinder Country,Ferrero,561,33.8
34,Kinder Riegel,Ferrero,566,35.0
35,Yogurette,Ferrero,571,35.6
36,Kinder bueno,Ferrero,572,37.3

In [20]:
#data.drop(['Fotos'], inplace=True)

In [21]:
data

,Name,Hersteller,Kalorien in kcal,Fett in g
0,Race,Ludwig Schokolade GmbH und Co. KG,467,19.7
1,Choco Bits,Ludwig Schokolade GmbH und Co. KG,452,16.3
2,Coconut Bits,Ludwig Schokolade GmbH und Co. KG,481,24.7
3,GET'IT,Ludwig Schokolade GmbH und Co. KG,484,23.0
4,Crispy Bits,Ludwig Schokolade GmbH und Co. KG,485,24.0
5,Hazelnut Bits,Ludwig Schokolade GmbH und Co. KG,486,25.0
6,Peanut Bits,Ludwig Schokolade GmbH und Co. KG,499,27.9
7,Choco & Caramel,Mister Choc,459,20.0
8,Peanut & Choco,Mister Choc,500,28.0
9,Smooth Caramel Bites,Choco Fun,450,19.0
10,Caramel Choco,Choco Bella,484,23.0
11,Caramel & Biscuts Bites,Choco Fun,498,25.0
12,Peanuts & Caramel Bites,Choco Fun,498,27.0
13,Peanut Choco,Choco Bella,500,28.0
14,Creamy,Ludwig Schokolade GmbH und Co. KG,459,20.0
15,Peanuts MINIS,Natra Chocolate International S.L.,504,28.0
16,SIMBA minis,Natra Chocolate International S.L.,512,25.0
17,Crack 'n' Snack,HG GmbH,530,29.0
18,Mars,Mars GmbH,449,16.6
19,MILKYWAY,MARS GmbH,451,17.0
20,Snickers,Mars GmbH,481,23.0
21,Lion White,Nestlé,485,22.3
22,Bounty,Mars GmbH,487,26.0
23,Twix,Mars GmbH,492,24.0
24,Nuts,Nestlé,492,24.7
25,nutella B-ready,Ferrero,521,27.0
26,KitKat Einzelriegel Classic 4-Finger-Riegel,Nestlé,521,27.6
27,Knoppers NussRiegel,Storck,535,31.8
28,Daim Riegel,Mondelez,536,31.0
29,Hanuta,Ferrero,542,31.9
30,Milka und Oreo,Mondelez,548,33.0
31,Knoppers,Storck,551,33.2
32,Douplo,Ferrero,555,33.5
33,Kinder Country,Ferrero,561,33.8
34,Kinder Riegel,Ferrero,566,35.0
35,Yogurette,Ferrero,571,35.6
36,Kinder bueno,Ferrero,572,37.3

## Export CSV without Index and comma-separated

In [22]:
data.to_csv("Data.csv", sep=",", index=False)

## Export XLSX without Index and comma-separated

In [57]:
data.to_excel("Data.xlsx", index=False)